.newOrder-button {
  background-color: rgb(255, 226, 64);
  border: 1px solid white;
  border-radius: 8px;
  font-weight: bold;
}

.order-form-div {
  display: flex;
  justify-content: center;

  .order-form {
    border: 1px solid white;
    margin-top: 10em;
    padding: 20px 110px 20px 10px;
    display: flex;
  }

  .order-form-group {
    display: flex;
    flex-direction: column;
  }

  .delivery-div {
    display: flex;
    align-items: center;
    position: relative;
  }

  .checkbox-div {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    .checkbox-input {
      margin-right: 1em;
    }
  }

  .input-number-div {
    display: flex;
    align-items: center;
    position: absolute;
    left: 9em;
  }
}
