.home-div {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10em;
}

.cocktail-div {
  border-bottom: 10px solid white;
  position: relative;
}

.cocktail-paragraph {
  position: absolute;
  background-color: red;
  bottom: -2em;
  display: none;
}

.cocktail-image {
  width: 100px;
  height: 120px;
}

div {
  color: white;
}
