body {
  background-color: black;
}

.howTo-div {
  .cocktail-detail-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cocktail-detail-title {
      text-transform: capitalize;
      margin-bottom: 60px;
      border: 1px solid gold;
    }

    .cocktail-detail-image,
    .cocktail-detail-subtitle,
    .cocktail-detail-ingredients,
    .cocktail-detail-subtitle-1 {
      margin-bottom: 30px;
    }

    .cocktail-detail-description {
      margin-bottom: 50px;
    }

    .cocktail-detail-subtitle {
      text-decoration: underline;
    }

    .cocktail-detail-image {
      width: 40vmin;
      height: 30vmin;
    }

    .cocktail-detail-ingredients-ul {
      margin-bottom: 60px;
      list-style: square;
    }

    .cocktail-detail-description,
    .cocktail-detail-how {
      padding: 0 10% 0 10%;
    }
  }
}
